{% extends "layout.html" %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
<div class="about-section">
    <h1>Sobre Nosotros</h1>
    <h4>JM Abogados es una firma importante líder en el servicio de asesoría legal
      corporativa a nivel nacional. Nuestro equipo de profesionales con maestrías en
      diferentes áreas de la práctica legal, comprometidos a ofrecer soluciones a las
      controversias con eficiencia, ética, profesionalismo y efectivas con los más altos
      estándares de calidad para lograr grandes y mejores resultados.</h4>
  </div>
  <h2 style="text-align:center"></h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src=" {{ url_for('static', filename ='images/Contratacion-publica.png') }} " alt="Jane" style="width:100%">
        <div class="container">
          <h1>JM Abogados</h1>
          <h4 class="title">Abogados a su Servicio</h4>
          <h5>Ser la firma jurídica líder del Ecuador en la prestación de servicios legales</h5>
          <h5>integrales en el mercado nacional mediante el uso de nuevas tecnologías, innovación y ética profesional.</h5>
          <h5>gerencia@abogadosjm.com</h5>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <iframe width="100%" height="550" src="https://www.youtube.com/embed/2yVYKK2AKIU?autoplay=1">
        </iframe>
        <div class="container">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}



