{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<div class="container-fluid bg-1 text-center">
      <h1 class="margin">¿Quienes somos nosotros?</h1>
      <img src=" {{ url_for('static', filename ='images/JMlogo.png') }} " style="display:inline" alt="Logo" width="350" height="350">
      <h2>Somos JM Abogados</h2>
      <p>Somos una firma de profesionales en derecho con maestrías en: Contratación
        Pública, Derecho Administrativa, Aduanas, Derecho Penal, Derecho Tributario,
        Derecho Constitucional, que brindamos Patrocinio Jurídico en sede administrativa
        y jurisdiccional con eficiencia, eficacia, ética y responsabilidad.</p>
    </div>
    <div class="container-fluid bg-2 text-center">
      <h1 class="margin">¿A qué nos dedicamos? </h1>
      <img src=" {{ url_for('static', filename ='images/arbitraje.jpg') }} " style="display:inline" alt="Logo">
      <ul style="list-style-type:none;">
        <li>I.  Nos ponemos en sus zapatos, escuchamos sus inquietudes, comprendemos lo que necesita. </li>
        <li>II.  Defensa eficaz de los derechos y garantías individuales y corporativos</li>
        <li>III.  Stricto apego a la ley, valores y sobre todo a la ética</li>
      </ul>
    </div>
    <div class="container-fluid bg-3 text-center">    
      <h1 class="margin">Nuestros servicios incluyen: </h1><br>
      <div class="row">
        <div class="col-sm-4">
          <ul style="list-style-type:square;">
            <li>SRI & IESS</li>
            <li>DERECHO PENAL</li>
          </ul>
          <img src=" {{ url_for('static', filename ='images/lawSupp.png') }} "  style="width:99%" alt="Image">
        </div>
        <div class="col-sm-4"> 
          <ul style="list-style-type:square;">
            <li>CONTRATACIÓN PÚBLICA</li>
            <li>DERECHO ADMINISTRATIVO & CONSTITUCIONAL</li>
          </ul>
          <img src=" {{ url_for('static', filename ='images/gavel1.png') }} "  style="width:80%" alt="Image">
        </div>
        <div class="col-sm-4"> 
          <ul style="list-style-type:square;">
            <li>DERECHO CIVIL & COMERCIAL</li>
            <li>TRIBUTARIO & ADUANAS</li>
          </ul>          
          <img src=" {{ url_for('static', filename ='images/court2.png') }} "  style="width:99%" alt="Image">
        </div>
      </div>
    </div>
{% endblock content %}


