{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
<div class="container-fluid bg-1 text-center">
      <h1 class="margin">¿Quienes somos nosotros?</h1>
      <img src=" {{ url_for('static', filename ='images/JMlogo.png') }} " style="display:inline" alt="Logo" width="350" height="350">
      <h2>Somos JM Abogados</h2>
      <p>Somos una firma de profesionales en derecho con maestrías en: Contratación
        Pública, Derecho Administrativa, Aduanas, Derecho Penal, Derecho Tributario,
        Derecho Constitucional, que brindamos Patrocinio Jurídico en sede administrativa
        y jurisdiccional con eficiencia, eficacia, ética y responsabilidad.</p>
    </div>
    <div class="container-fluid bg-2 text-center">
      <h1 class="margin">MISIÓN</h1>
      <img src=" {{ url_for('static', filename ='images/arbitraje.jpg') }} " style="display:inline" alt="Logo">
      <p>JM Abogados es una firma importante líder en el servicio de asesoría legal
        corporativa a nivel nacional. Nuestro equipo de profesionales con maestrías en
        diferentes áreas de la práctica legal, comprometidos a ofrecer soluciones a las
        controversias con eficiencia, ética, profesionalismo y efectivas con los más altos
        estándares de calidad para lograr grandes y mejores resultados.</p>

    </div>
    <div class="container-fluid bg-3 text-center">    
      <h1 class="margin">Nuestros servicios incluyen: </h1><br>
      <div class="row">
        <div class="col-sm-4">
          <ul style="list-style-type:square;">
            <li>CONTRATACIÓN PÚBLICA</li>
            <li>DERECHO ADMINISTRATIVO</li>
          </ul>
          <img src=" {{ url_for('static', filename ='images/lawSupp.png') }} "  style="width:55%" alt="Image">
        </div>
        <div class="col-sm-4"> 
          <ul style="list-style-type:square;">
            <li>ADUANAS</li>
            <li>DERECHO PENAL</li>
          </ul>
          <img src=" {{ url_for('static', filename ='images/gavel1.png') }} "  style="width:45%" alt="Image">
        </div>
        <div class="col-sm-4"> 
          <ul style="list-style-type:square;">
            <li>DERECHO TRIBUTARIO</li>
            <li>DERECHO CONSTITUCIONAL</li>
          </ul>          
          <img src=" {{ url_for('static', filename ='images/court2.png') }} "  style="width:53%" alt="Image">
        </div>
      </div>
    </div>
{% endblock content %}


