<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="site-header"></header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">JM Abogados</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-item nav-link" href="/">Inicio</a></li>
              <li><a class="nav-item nav-link" href="/about">¿Quiénes somos?</a></li>
              <li><a class="nav-item nav-link" href="/contactUs">Contactos</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-12"></div>
          {% block content %}{% endblock %}
        </div>
        <footer class="container-fluid text-center">
          <a href="https://www.facebook.com/JMAbogadosIbarra/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/JMAbogados1" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com/in/jm-abogados-0808bb41/?originalSubdomain=ec" class="fa fa-linkedin"></a>
          <a href="https://www.instagram.com/jma_bogados/?hl=es-la" class="fa fa-instagram"></a>
        </footer>
        </div>
      </div>
    </main>
</body>
</html>